.Header {
    border: solid 1px var(--primary-color);
    font-family: var(--font-mono);
    padding: 5px;
    border-radius: 5px;
}
.Navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.Navigation li:hover {
    color: var(--primary-color);
}