.Post {
   border: solid 1px red;
   margin: 8vh 0px;
   padding: 10px;
   border: var(--light-color) solid 1px;
   border-radius: var(--border-radius-card);
   box-shadow: 17px 19px 40px -3px rgba(0,0,0,0.1);
}
.Post h3 {
    color:var(--primary-color);
}
.Post button {
    background: none;
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    padding: 3px;
    border-radius: 3px;
    width: 60px;
    justify-content: center;
    margin-top: 5px;
}