.Card {
    margin-top: 5vh;
}

.CardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.CardContent-Header {
    border: var(--light-color) solid 1px;
    border-top: none;
    padding: 10px;
}
.CardContent-Header h4{
    color: var(--primary-color);
    margin-top: 10px;
}

.CardContent-Body {
    border: var(--light-color) solid 1px;
    border-top: none;
    padding: 10px;
}

.CardContent img {
    border: var(--light-color) solid 1px;
    border-bottom: none;
    width: 100%;
}

.Card button {
    padding: 10px 25px;
    margin-left: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3px;
}