.CommentCard {
    border: 1px solid var(--light-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}

.CommentCard img {
    height: 100%;
    width: 100%;
}

.CommentsText {
    width: 80%;
    padding: 10px;
}