.PostList{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.PostListTitle{
    margin-top: 5vh;
    text-align: center;
    margin-bottom: 20px;
}

.Post {
   padding: 15px;
   border: var(--light-color) solid 1px;
   box-shadow: 17px 19px 40px -3px rgba(0,0,0,0.1);
   margin: 10px 5vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.Post h2 , .Post p{
    white-space: nowrap;
}
.PostList a{
    width: 70%;
}
.Post h3 {
    color:var(--primary-color);
}
.Post button {
    background: none;
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    padding: 3px;
    width: 60px;
    justify-content: center;
    margin-top: 5px;
}